<div class="left-sidebar-module events-mobile">
    <h4>Events & Holidays</h4>
    <div class="content-wrapper-ls">
        <div class="event-module">
            <div class="date-module">
                <span class="month">FEB</span>
                <span class="day">22</span>
                <span class="weekday">MON</span>
            </div>
            <div class="text-block">
                <div class="event"><a href="">Company Holiday: Presidents Day</a> </div>
                <div class="duration"><a href="">All Day</a></div>
            </div>
        </div>
        <div class="event-module">
            <div class="date-module">
                <span class="month">MAR</span>
                <span class="day">1</span>
                <span class="weekday">MON</span>
            </div>
            <div class="text-block">
                <div class="event"><a href="">Company Holiday: Presidents Day</a> </div>
                <div class="duration"><a href="">All Day</a></div>
            </div>
        </div>
        <div class="event-module">
            <div class="date-module">
                <span class="month">APR</span>
                <span class="day">13</span>
                <span class="weekday">MON</span>
            </div>
            <div class="text-block">
                <div class="event"><a href="">Company Holiday: Presidents Day</a> </div>
                <div class="duration"><a href="">All Day</a></div>
            </div>
        </div>
        <a href="" class="link">More Events</a>
    </div>
</div>