<div id="popular-section" class="my-feeds">
    <div class="title-section">
        <h3 class="main-title">My Feeds</h3>
        <div><a href="">Manage</a><a href="">Discover</a></div>
    </div>
    <div class="tab-wrapper">
        <div class="row">
            <div class="tab-content">
                <div class="pop-feed-module">
                    <div class="top-left"><a href="">Feed Name</a></div>
                    <div class="title"><a href="">1 Here the title of the post from this feed.</a></div>
                    <div class="bottom">
                        <span class="bottom-left">Site Name</span>
                    </div>
                </div>
                <div class="pop-feed-module">
                    <div class="top-left"><a href="">Feed Name</a></div>
                    <div class="title"><a href="">2 Here the title of the post from this feed.</a></div>
                    <div class="bottom">
                        <span class="bottom-left">Site Name</span>
                    </div>
                </div>
                <div class="pop-feed-module">
                    <div class="top-left"><a href="">Feed Name</a></div>
                    <div class="title"><a href="">3 Here the title of the post from this feed.</a></div>
                    <div class="bottom">
                        <span class="bottom-left">Site Name</span>
                    </div>
                </div>
                <hr>
                <div class="pop-feed-module">
                    <div class="top-left"><a href="">Feed Name</a></div>
                    <div class="title"><a href="">4 Here the title of the post from this feed.</a></div>
                    <div class="bottom">
                        <span class="bottom-left">Site Name</span>
                    </div>
                </div>
                <div class="pop-feed-module">
                    <div class="top-left"><a href="">Feed Name</a></div>
                    <div class="title"><a href="">5 Here the title of the post from this feed.</a></div>
                    <div class="bottom">
                        <span class="bottom-left">Site Name</span>
                    </div>
                </div>
                <div class="pop-feed-module">
                    <div class="top-left"><a href="">Feed Name</a></div>
                    <div class="title"><a href="">6 Here the title of the post from this feed.</a></div>
                    <div class="bottom">
                        <span class="bottom-left">Site Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>