<body>
    <div id="floating-sidebar">
        <div class="menu-item company">
            <a href="">
                <img class="nav-icon" src="assets/images/floating-sidebar/icon-company.svg" alt="">
                <img class="chevron-right" src="assets/images/floating-sidebar/chevron-right.svg" alt="">
                <img class="chevron-right-black" src="assets/images/floating-sidebar/chevron-right-black.svg" alt="">
                <span>Company</span>
            </a>
            <div class="flyout-menu">
                <div class="flyout-menu-link">Link To Something</div>
                <div class="flyout-menu-link">Link To Something</div>
                <div class="flyout-menu-link">Link To Something</div>
                <div class="flyout-menu-link">Link To Something</div>
                <div class="flyout-menu-link">Link To Something</div>
                <div class="flyout-menu-link">Link To Something</div>
            </div>
        </div>
        <div class="menu-item">
            <a href="">
                <img class="nav-icon" src="assets/images/floating-sidebar/icon-people.svg" alt="">
                <span>People Central</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="">
                <img class="nav-icon" src="assets/images/floating-sidebar/icon-procurement.svg" alt="">
                <span>Procurement</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="">
                <img class="nav-icon" src="assets/images/floating-sidebar/icon-travel.svg" alt="">
                <span>Travel & Expenses</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="">
                <img class="nav-icon" src="assets/images/floating-sidebar/icon-it.svg" alt="">
                <span>IT Services</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="">
                <img class="nav-icon" src="assets/images/floating-sidebar/icon-legal.svg" alt="">
                <span>Legal</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="">
                <img class="nav-icon" src="assets/images/floating-sidebar/icon-security.svg" alt="">
                <span>Security Services</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="">
                <img class="nav-icon" src="assets/images/floating-sidebar/icon-workplace.svg" alt="">
                <span>Workplace</span>
            </a>
        </div>
        <div class="seperator"></div>
        <div class="menu-item company">
            <a href="">
                <img class="nav-icon" src="assets/images/floating-sidebar/icon-saved-links.svg" alt="">
                <img class="chevron-right" src="assets/images/floating-sidebar/chevron-right.svg" alt="">
                <img class="chevron-right-black" src="assets/images/floating-sidebar/chevron-right-black.svg" alt="">
                <span>Saved Links</span>
            </a>
            <div class="flyout-menu" id="saved-links">
                <div class="flyout-menu-link"><a href="">This is an example of a long long long lo ...</a></div>
                <div class="flyout-menu-link"><a href="">Workday Page</a></div>
                <div class="flyout-menu-link"><a href="">Playbook</a></div>
                <div class="flyout-menu-link"><a href="">Github eBay My Special Super Project</a></div>
                <div class="flyout-menu-link"><a href="">IT Support Page</a></div>
                <div class="flyout-menu-link"><a href="">Hub Home</a></div>
                <div class="flyout-menu-link"><a href="">People Central Pay Page</a></div>
                <div class="bottom">
                    <button class="tertiary" id="edit-bookmarks">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.2941 2.63585C11.1417 1.78805 12.5162 1.78805 13.3639 2.63585C14.212 3.48364 14.212 4.85818 13.3639 5.70598L5.80499 13.2651C5.72917 13.3408 5.63262 13.3924 5.52735 13.4135L2.64954 13.9891C2.26936 14.0651 1.935 13.7302 2.01082 13.3505L2.58627 10.4723C2.60754 10.3672 2.65882 10.2707 2.73463 10.1949L10.2941 2.63585ZM11.0615 6.47349L9.52661 4.93842L3.3859 11.0787L3.00245 12.9975L4.92135 12.6137L11.0615 6.47349ZM12.5964 3.40341C12.1726 2.97948 11.4853 2.97948 11.0615 3.40341L10.2941 4.17091L11.829 5.70598L12.5964 4.93842C13.0202 4.51455 13.0202 3.82728 12.5964 3.40341Z" fill="#3665F3"/>
                        </svg>
                        Edit
                    </button>
                    <button class="secondary" id="add-link">Add a Link</a>
                </div>
            </div>
        </div>
        <div class="menu-item yjmmd-menu-item">
            <a href="">
                <img class="nav-icon" src="assets/images/floating-sidebar/icon-yjmmd2.svg" alt="">
                <span>YJMMD</span>
            </a>
        </div>
        <div class="seperator"></div>
        <div class="tools">
            <div class="menu-tool">
                <a href="">
                    <img class="nav-icon" src="assets/images/tools/icon-jira.svg" alt="">
                    <span>Jira</span>
                </a>
            </div>
            <div class="menu-tool">
                <a href="">
                    <img class="nav-icon" src="assets/images/tools/icon-confluence.svg" alt="">
                    <span>Confluence</span>
                </a>
            </div>
            <div class="menu-tool">
                <a href="">
                    <img class="nav-icon" src="assets/images/tools/icon-hubservices.svg" alt="">
                    <span>Hub Services</span>
                </a>
            </div>
            <div class="menu-tool">
                <a href="">
                    <img class="nav-icon" src="assets/images/tools/icon-slack.svg" alt="">
                    <span>Slack</span>
                </a>
            </div>
            <div id="more-tools">
                <a href="">
                    <span>More Tools</span>
                    <img class="chevron-right" src="assets/images/floating-sidebar/chevron-right.svg" alt="">
                    <img class="chevron-right-black" src="assets/images/floating-sidebar/chevron-right-black.svg" alt="">
                </a>
                <div class="flyout-menu">
                    <div class="tool-container">
                        <div class="flyout-menu-link"><a href=""><img class="tool-icon" src="assets/images/floating-sidebar/tool-workday.png" alt="">Workday</a></div>
                        <div class="flyout-menu-link"><a href=""><img class="tool-icon" src="assets/images/floating-sidebar/tool-spendsmart.png" alt="">Spendsmart</a></div>
                        <div class="flyout-menu-link"><a href=""><img class="tool-icon" src="assets/images/floating-sidebar/tool-concur.png" alt="">Concur</a></div>
                        <div class="flyout-menu-link"><a href=""><img class="tool-icon" src="assets/images/floating-sidebar/tool-fieldglass.png" alt="">Fieldglass</a></div>
                        <div class="flyout-menu-link"><a href=""><img class="tool-icon" src="assets/images/floating-sidebar/tool-drive.png" alt="">Drive</a></div>
                    </div>
                    <div class="tool-container">
                        <div class="flyout-menu-link"><a href=""><img class="tool-icon" src="assets/images/floating-sidebar/tool-0365.png" alt="">0356</a></div>
                        <div class="flyout-menu-link"><a href=""><img class="tool-icon" src="assets/images/floating-sidebar/tool-linkedin.png" alt="">Learning</a></div>
                        <div class="flyout-menu-link"><a href=""><img class="tool-icon" src="assets/images/floating-sidebar/tool-bookspace.png" alt="">Bookspacex</a></div>
                        <div class="flyout-menu-link"><a href=""><img class="tool-icon" src="assets/images/floating-sidebar/tool-secure-access.png" alt="">Secure Access</a></div>
                        <div class="flyout-menu-link"><a href="">View all Tools</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
