<div class="hub-activity sidebar-r-styling">
    <h4>Hub Activity</h4>
    <ul class="tabs nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="useful-tab" data-bs-toggle="tab" data-bs-target="#useful" type="button" role="tab" aria-controls="home" aria-selected="true">Most Useful</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false">My History</button>
        </li>
    </ul>
    <div class="row">
        <div class="tab-content">
            <!-- Tab 1 Most Useful  -->
            <div class="tab-pane active" id="useful" role="tabpanel" aria-labelledby="useful-tab">
                <div class="tab-content">
                <div class="page-module">
                    <img src="assets/images/icon-page.svg" alt="">
                    <div class="text-module">
                        <p class="title"><a href="">Page Title Goes here and keeps going</p>
                        <p class="site-name"><a href="">Site Name</a></p>
                    </div>
                </div>
                <div class="page-module">
                    <img src="assets/images/icon-page.svg" alt="">
                    <div class="text-module">
                        <p class="title"><a href="">Page Title Goes here and keeps going</a></p>
                        <p class="site-name"><a href="">Site Name</a></p>
                    </div>
                </div>
                <div class="page-module">
                    <img src="assets/images/icon-page.svg" alt="">
                    <div class="text-module">
                        <p class="title"><a href="">Page Title Goes here and keeps goinge</a></p>
                        <p class="site-name"><a href="">Site Name</a></p>
                    </div>
                </div>
                <div class="page-module">
                    <img src="assets/images/icon-page.svg" alt="">
                    <div class="text-module">
                        <p class="title"><a href="">Page Title Goes here and keeps going</a></p>
                        <p class="site-name"><a href="">Site Name</a></p>
                    </div>
                </div>
                </div>
            </div>

            <!-- Tab 2 My History -->
            <div class="article-content tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">
                <div class="tab-wrapper content-article tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="tab-content">
                        <div class="page-module">
                            <img class="icon-history" src="assets/images/clock-black.svg" alt="">
                            <div class="text-module">
                                <p class="title"><a href="">Another tab is here where it should be</a></p>
                                <p class="site-name"><a href="">Site Name</a></p>
                            </div>
                        </div>
                        <div class="page-module">
                            <img class="icon-history" src="assets/images/clock-black.svg" alt="">
                            <div class="text-module">
                                <p class="title"><a href="">Another tab is here where it should be</a></p>
                                <p class="site-name"><a href="">Site Name</a></p>
                            </div>
                        </div>
                        <div class="page-module">
                            <img class="icon-history" src="assets/images/clock-black.svg" alt="">
                            <div class="text-module">
                                <p class="title"><a href="">Another tab is here where it should be</a></p>
                                <p class="site-name"><a href="">Site Name</a></p>
                            </div>
                        </div>
                        <div class="page-module">
                            <img class="icon-history" src="assets/images/clock-black.svg" alt="">
                            <div class="text-module">
                                <p class="title"><a href="">Another tab is here where it should be</a></p>
                                <p class="site-name"><a href="">Site Name</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>