<div class="meetings sidebar-r-styling">
    <h4>Next Meetings</h4>
    <a class="tooltip-news" href=""><img class="information" src="assets/images/information.svg" alt="">
        <div class="tooltip-flyout">
            This is a list of your next meetings imported from Outlook. You are able to join these meetings and view meeting details.
        </div>
    </a>
    <div class="meeting-wrapper">
        <div class="meeting-card">
            <div class="meeting-status">
                <img src="assets/images/meeting-accepted.svg" alt="">
                <span>Accepted</span>
            </div>
            <p class="meeting-title">
                Product Design Engineering Weekly Product Meeting
            </p>
            <div class="meeting-time">
                <img src="assets/images/clock.svg" alt="">
                <span>10:30 AM -11:00 AM <br>Tues, July 15</span></span>
            </div>
            <div class="bottom-links">
                <button>{% include icon-zoom.html %}</button>
                <button>Details</button>
            </div>
        </div>
        <div class="meeting-card">
            <div class="meeting-status">
                <img src="assets/images/meeting-tentative.svg" alt="">
                <span>Tentatively Accepted</span>
            </div>
            <p class="meeting-title">
                Product Design Engineering Weekly Product Meeting
            </p>
            <div class="meeting-time">
                <img src="assets/images/clock.svg" alt="">
                <span>10:30 AM -11:00 AM <br>Tues, July 15</span>
            </div>
            <div class="bottom-links">
                <button>{% include icon-zoom.html %}</button>
                <button>Details</button>
            </div>
        </div>
        <div class="meeting-card">
            <div class="meeting-status">
                <img src="assets/images/meeting-tentative.svg" alt="">
                <span>Tentatively Accepted</span>
            </div>
            <p class="meeting-title">
                Product Design Engineering Weekly Product Meeting
            </p>
            <div class="meeting-time">
                <img src="assets/images/clock.svg" alt="">
                <span>10:30 AM -11:00 AM <br>Tues, July 15</span></span>
            </div>
            <div class="bottom-links">
                <button>{% include icon-zoom.html %}</button>
                <button>Details</button>
            </div>
        </div>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="meeting-card">
                <div class="meeting-status">
                    <img src="assets/images/meeting-accepted.svg" alt="">
                    <span>You Accepted</span>
                </div>
                <p class="meeting-title">
                    Product Design Engineering Weekly Product Meeting
                </p>
                <div class="meeting-time">
                    <img src="assets/images/clock.svg" alt="">
                    <span>10:30 AM -11:00 AM <br>Tues, July 15</span></span>
                </div>
                <div class="bottom-links">
                    <button>{% include icon-zoom.html %}</button>
                    <button>Details</button>
                </div>
            </div>
            <div class="meeting-card">
                <div class="meeting-status">
                    <img src="assets/images/meeting-accepted.svg" alt="">
                    <span>You Accepted</span>
                </div>
                <p class="meeting-title">
                    Product Design Engineering Weekly Product Meeting
                </p>
                <div class="meeting-time">
                    <img src="assets/images/clock.svg" alt="">
                    <span>10:30 AM -11:00 AM <br>Tues, July 15</span></span>
                </div>
                <div class="bottom-links">
                    <button>{% include icon-zoom.html %}</button>
                    <button>Details</button>
                </div>
            </div>
            <div class="meeting-card">
                <div class="meeting-status">
                    <img src="assets/images/meeting-accepted.svg" alt="">
                    <span>You Accepted</span>
                </div>
                <p class="meeting-title">
                    Product Design Engineering Weekly Product Meeting
                </p>
                <div class="meeting-time">
                    <img src="assets/images/clock.svg" alt="">
                    <span>10:30 AM -11:00 AM <br>Tues, July 15</span></span>
                </div>
                <div class="bottom-links">
                    <button>{% include icon-zoom.html %}</button>
                    <button>Details</button>
                </div>
            </div>
        </div>
        <a data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">See More</a>
    </div>
</div>