<div id="popular-section">
    <h3 class="main-title">Popular</h3>
    <div class="tabs"><span class="active">Feeds</span><span>Articles</span><span>Pages</span></div>
    <div class="row">
        <div class="tab-content">
            <div class="pop-feed-module">
                <div class="feed-name"><a href="">Feed Name</a></div>
                <div class="title"><a href="">Here the title of the post from this feed.</a></div>
                <div class="bottom">
                    <span class="follow"><a href="">+ Follow</a></span>
                    <span class="site-name"><a href="">Site Name</a></span>
                </div>
            </div>
            <div class="pop-feed-module">
                <div class="feed-name"><a href="">Feed Name</a></div>
                <div class="title"><a href="">Here the title of the post from this feed.</a></div>
                <div class="bottom">
                    <span class="follow"><a href="">+ Follow</a></span>
                    <span class="site-name"><a href="">Site Name</a></span>
                </div>
            </div>
            <div class="pop-feed-module">
                <div class="feed-name"><a href="">Feed Name</a></div>
                <div class="title"><a href="">Here the title of the post from this feed.</a></div>
                <div class="bottom">
                    <span class="follow"><a href="">+ Follow</a></span>
                    <span class="site-name"><a href="">Site Name</a></span>
                </div>
            </div>
        </div>
    </div>
    <hr>
<!-- Row 2 -->
    <div class="row">
        <div class="tab-content">
            <div class="pop-feed-module">
                <div class="feed-name"><a href="">Feed Name</a></div>
                <div class="title"><a href="">Here the title of the post from this feed.</a></div>
                <div class="bottom">
                    <span class="follow"><a href="">+ Follow</a></span>
                    <span class="site-name"><a href="">Site Name</a></span>
                </div>
            </div>
            <div class="pop-feed-module">
                <div class="feed-name"><a href="">Feed Name</a></div>
                <div class="title"><a href="">Here the title of the post from this feed.</a></div>
                <div class="bottom">
                    <span class="follow"><a href="">+ Follow</a></span>
                    <span class="site-name"><a href="">Site Name</a></span>
                </div>
            </div>
            <div class="pop-feed-module">
                <div class="feed-name"><a href="">Feed Name</a></div>
                <div class="title"><a href="">Here the title of the post from this feed.</a></div>
                <div class="bottom">
                    <span class="follow"><a href="">+ Follow</a></span>
                    <span class="site-name"><a href="">Site Name</a></span>
                </div>
            </div>
        </div>
    </div>
</div>