<div class="slack left-sidebar-module">
    <h4>Slack</h4>
    <ul class="tabs nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="trending-tab" data-bs-toggle="tab" data-bs-target="#trending" type="button" role="tab" aria-controls="trending" aria-selected="true">Trending</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="recommended-tab" data-bs-toggle="tab" data-bs-target="#recommended" type="button" role="tab" aria-controls="recommended" aria-selected="false">Recommended</button>
        </li>
    </ul>
    <div class="row">
        <div class="tab-content">
            <!-- Tab 1 Trending  -->
            <div class="tab-pane active" id="trending" role="tabpanel" aria-labelledby="useful-tab">
                <div class="tab-content">
                <div class="page-module">
                    <img src="assets/images/slack.svg" alt="">
                    <div class="text-module">
                        <p class="title"><a href="">#Channel-Title</p>
                        <p class="site-name"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing ...</a></p>
                    </div>
                </div>
                <div class="page-module">
                    <img src="assets/images/slack.svg" alt="">
                    <div class="text-module">
                        <p class="title"><a href="">#Channel-Title</a></p>
                        <p class="site-name"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing ...</a></p>
                    </div>
                </div>
                <div class="page-module">
                    <img src="assets/images/slack.svg" alt="">
                    <div class="text-module">
                        <p class="title"><a href="">#Channel-Title</a></p>
                        <p class="site-name"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing ...</a></p>
                    </div>
                </div>
                <div class="page-module">
                    <img src="assets/images/slack.svg" alt="">
                    <div class="text-module">
                        <p class="title"><a href="">#Channel-Title</a></p>
                        <p class="site-name"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing ...</a></p>
                    </div>
                </div>
                </div>
            </div>

            <!-- Tab 2 Recommended -->
            <div class="article-content tab-pane" id="recommended" role="tabpanel" aria-labelledby="profile-tab">
                <div class="tab-wrapper content-article tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="tab-content">
                        <div class="page-module">
                            <img src="assets/images/slack.svg" alt="">
                            <div class="text-module">
                                <p class="title"><a href="">#Channel-Recommended</a></p>
                                <p class="site-name"><a href="">History ipsum dolor sit amet, consectetur adipiscing ...</a></p>
                            </div>
                        </div>
                        <div class="page-module">
                            <img src="assets/images/slack.svg" alt="">
                            <div class="text-module">
                                <p class="title"><a href="">#Channel-Recommended</a></p>
                                <p class="site-name"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing ...</a></p>
                            </div>
                        </div>
                        <div class="page-module">
                            <img src="assets/images/slack.svg" alt="">
                            <div class="text-module">
                                <p class="title"><a href="">#Channel-Recommended</a></p>
                                <p class="site-name"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing ...</a></p>
                            </div>
                        </div>
                        <div class="page-module">
                            <img src="assets/images/slack.svg" alt="">
                            <div class="text-module">
                                <p class="title"><a href="">#Channel-Recommended</a></p>
                                <p class="site-name"><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing ...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>