<div class="yjmmd sidebar-r-styling">
    <h3 class="title">You Just<br> Made My Day</h3>
    <a href="" class="send-card"><img src="assets/images/smile.svg">Send A Card</a>
    <div class="stats">
        <div class="sent">
            <div class="title">Sent</div>
            <div class="value">22</div>
        </div>
        <div class="received">
            <div class="title">Received</div>
            <div class="value">22</div>
        </div>
    </div>
    <!-- <p class="fineprint">* This shows YJMMD cards Sent & Recieved for the last 6 months</p> -->
    <p class="fineprint">* YJMMD cards you have sent & received in the last 6 months</p>
    <a href="" class="activity">View Activity <img src="assets/images/arrow.svg" alt=""></a>
</div>